html,
body {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
    max-width: 100%;
    @include phone{min-height: 240px;}



    font-family: $text;
}

;
body {
    background-color: red;
    @include phone {
        background-color: yellow;
    }
    ;
}

;
.center {
    margin: 0 auto;
    width: 1024px;
    @include phone {
        width: 100%;
    }
    ;
    @include tablet {
        width: 100%;
    }
}

;
.main {
min-height: 540px;
    height: 100%;
    padding-top: 4rem;
    @include large {
        padding-top: 6rem;
    };

    @include phone{
      padding-top: 6.5rem;
    };

    @include phone-landscape{
      padding-top: 4rem;
    }
    background-image: url(../images/main-bg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center 5%;
}

;
.info-ramka {
  display: none;
    font-family: $main;
    font-size: 1.75rem;
    line-height: 3.5rem;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 2rem;
    padding: 1.75rem;
    background-color: rgba(255, 255, 255, 0.4);
    @include phone {
        width: 100%;
        margin-top: 0;
        font-family: $demi;
        font-size: 1rem;
        line-height: normal;
        padding: 1rem;
        margin-top: 2rem;
    }
    ;
    @include phone-landscape {
        margin-top: 0;
    }
    ;
    @include tablet{
      width:90%;
    }
}

;
.logo {
    font-family: $demi;
}

.ologo {
    color: $logo;
}

;
.nowy {
    border: 1px solid yellow;
    // display: none;
    position: relative;
    height: 12rem;
    @include phone {
        height: 7rem;
    }
    h1,
    h2,
    h3 {
        font-family: $demi;
        font-weight: normal;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    h1 {
        border: 1px solid brown;
        transform: translateY(-50%);
        text-align: center;
        font-size: 12rem;
        font-family: $bold;
        @include phone {
            font-size: 6rem;
        }
        ;
        background: -webkit-linear-gradient(transparent, #eee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    ;
    h2 {
        transform: translateY(-80%);
        border: 1px solid green;
        font-size: 8rem;
        @include phone {
            font-size: 4.5rem;
        }
    }
    ;
    h3 {
        transform: translateY(120%);
        font-family: $text;
        border:1px solid red;
        font-size: 1.25rem;
        word-spacing: 1rem;

        @include phone {
            font-size: 0.75rem;
            word-spacing: 0.5rem;
        }
        ;
    }
}

;
.left-menu {
    @include tablet {
        display: none;
    }
    @include phone {
        display: none;
    }
    position: fixed;
    height: 100%;
    width: 6rem;
    background: white;
    z-index: 999;
    left: 0;
    top: 0;
    min-height: 360px;
    ul {
        // border: 1px solid red;
        // min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        i {
            transition: 0.5s;
            font-size: 1.25rem;
            color: $light;
        }
    }
    ;
    li {
        // border: 1px solid black;
        list-style: none;
        width: 100%;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            &:link {
              color: $light;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
            ;
            &:hover {
                cursor: pointer;
                i {
                    color: $logo;
                    font-size: 1.75rem;
                    transition: 0.5s;
                }
                ;
            }
            ;
        }
        ;
        &:last-of-type {
            position: absolute;
            bottom: 2rem;
        }
    }
}

;
.blue-circle {
    width: 2rem;
    height: 2rem;
    border: 0.5rem solid $logo;
    border-radius: 50%;
    margin: 1rem auto;
};

.ham-circle{
  position: fixed;
  display: flex;
  z-index:9;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 50%;
  right: 2rem;
  top: 2rem;
  @include phone{
    right: 1rem;
    top: 1rem;
  }



  #hamburger{
  width: 33px;
  height: 22px;
  margin:22px;
  display: block;
  &:hover{
    cursor: pointer;
  }

  span{
    display: block;
    border-radius: 2px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $logo;
    transition: 1s;

  }
  }
.hamburger-active{
    span:nth-last-of-type(1){
      transform: rotate(45deg) translate(-3px,-10px);
      transition: 1s;
    }
    span:nth-last-of-type(3){
      transform: rotate(-45deg) translate(-3px, 10px);
      transition: 1s;
    }
    span:nth-last-of-type(2){
      opacity: 0;
    }
  }
};

#right-menu{
  overflow-y: scroll;
  width: 15rem;
  @include phone{
    width: 100%;

  };
  min-height: 540px;
  @include phone{min-height:0};
  height: 100%;
  @include phone{
    min-height: 50%;
  } ;
  background-color: white;
  position: fixed;
  top:0;

    right: -500px;
  @include phone{
    right: -720px;
  };
  z-index: 1;
  transition: 1s;
  ul{
    // border: 1px solid red;
    margin-top:8rem;
    @include phone{
      margin: 2rem 0;
        } ;
    height: 100%;
    li{
      text-align: center;
      list-style-type: none;
      padding: 1.5rem 0;
      @include phone-landscape{
        padding: 0.5rem 0;
      }
      font-family: $text;
      font-weight: 700;
      font-size: 0.875rem;
      @include phone{font-size: 1rem;}
      color: $light;
      &:last-of-type{
        position: absolute;
        bottom:2rem;
        width: 100%;
        @include phone{
          position:inherit;
        }
      }
    }

  };
  a{
    display: block;
    width: 100%;
    transition: 0.5s;

    &:link{
      text-decoration: none;
      color:$light;
    };
    &:visited{
      color:$light;
    };
    &:hover{
      color:$logo;

      .line-under::after{
        width: 8rem;
        @include phone{
          width: 10rem;
        }
        background-color: $logo;
        }



    };


  };
};

.move-left{
  transform: translateX(-500px);
  @include phone{transform:translateX(-720px);}

};
.line-under{
  position: relative;
  width: 10rem;
  @include phone{
    width: 12rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &::after{
    transition: 0.5s;
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: $light;
    bottom:-0.5rem;
    left: 1rem;

  };
};
