html,
body {
    font-size: 16px;
    height: 100%;
    min-width: 320px;
    min-height: 540px;
    @include phone{min-height: 360px;}
    font-family: $main;
}

;
body {
    background-color: $super;
}

;
.center {
  // border: 1px solid red;
    margin: 0 auto;
    // max-width: 1024px;
    width: 90%;

    @include phone {
        width: 100%;
    }
    ;
    @include tablet {
        width: 100%;
    };

    @include large{
      width: 1440px;
    }
};
.margin-menu{
  @include desktop{margin-left: 6rem;
  margin-right: 0;}

}



.logo {
    font-family: $demi;
}

.ologo {
    color: $logo;

}

;



.left-menu {
    @include tablet {
        display: none;
    }
    @include phone {
        display: none;
    }
    position: fixed;
    height: 100%;
    width: 6rem;
    background: white;
    z-index: 999;
    left: 0;
    top: 0;
    min-height: 360px;
    box-shadow:  0 0 0.25rem $dark;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        i {
            transition: 0.5s;
            font-size: 1.25rem;
            color: $light;
        }
    }
    ;
    li {

        list-style: none;
        width: 100%;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            &:link {
              color: $light;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
            ;
            &:hover {
                cursor: pointer;
                i {
                    color: $logo;
                    font-size: 1.75rem;
                    transition: 0.5s;
                }
                ;
            }
            ;
        }
        ;
        &:last-of-type {
            position: absolute;
            bottom: 2rem;
        }
    }
}

;
.blue-circle {
  background-size: cover;
    width: 2rem;
    height: 2rem;
    background-image: url('../images/circle.png');
    margin: 1rem auto;
};

.ham-circle{
  position: fixed;
  display: flex;
  z-index:9;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 50%;
  right: 2rem;
  top: 2rem;
  @include phone{
    right: 1rem;
    top: 1rem;
  }



  #hamburger{
  width: 33px;
  height: 22px;
  margin:22px;
  display: block;
  &:hover{
    cursor: pointer;
  }

  span{
    display: block;
    border-radius: 2px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $logo;
    transition: 1s;

  }
  }
.hamburger-active{
    span:nth-last-of-type(1){
      transform: rotate(45deg) translate(-3px,-10px);
      transition: 1s;
    }
    span:nth-last-of-type(3){
      transform: rotate(-45deg) translate(-3px, 10px);
      transition: 1s;
    }
    span:nth-last-of-type(2){
      opacity: 0;
    }
  }
};

#right-menu{
  width: 11rem;
  @include phone{
    min-width: 100%;
    border-left: 1rem solid $logo;


  };
  min-height: 540px;
  @include phone{min-height:0};
  height: 100%;
  @include phone{
    min-height: 50%;
  } ;
  background-color: white;
  position: fixed;
  top:0;

    right: -500px;
  @include phone{
    right: -720px;
  };
  z-index: 1;
  transition: 1s;
  ul{

    margin-top:8rem;
    @include phone{
      margin: 2rem 0;
        } ;
    height: 100%;
    li{

      text-align: center;
      list-style-type: none;
      padding: 1.5rem 0;
      @include phone-landscape{
        padding: 0.5rem 0;
      }
      font-family: $text;
      font-weight: 700;
      font-size: 0.875rem;
      @include phone{font-size: 1rem;}
      color: $light;
      &:last-of-type{
        position: absolute;
        bottom:2rem;
        width: 100%;
        @include phone{
          position:inherit;
        }
      }
    }

  };
  a{
    display: block;
    width: 100%;
    transition: 0.5s;
        &:link{
      text-decoration: none;
      color:$light;
    };
    &:visited{
      color:$light;
    };
    &:hover{
      color:$logo;

      .line-under::after{
        width: 8rem;
        @include phone{
          width: 10rem;
        }
        background-color: $logo;
        }



    };


  };
};
.left-border{
  @include desktop{box-shadow:  0 0 0.25rem $dark;};
  @include tablet{border-left: 1rem solid $logo};

}
.move-left{
  transform: translateX(-500px);
  @include phone{transform:translateX(-720px);}

};
.line-under{
  position: relative;
  width: 10rem;
  @include phone{
    width: 12rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &::after{
    transition: 0.5s;
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: $light;
    bottom:-0.5rem;
    left: 1rem;

  };
};

// index.html
;
.main {

    height: 100%;
    padding-top: 4rem;
    @include large {
        padding-top: 6rem;
    };

    @include phone{
      padding-top: 6.5rem;
    };

    @include phone-landscape{
      padding-top: 4rem;
    }
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center 5%;
}

;
.info-ramka {

    font-family: $main;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 2rem;
    padding: 1.75rem;
    background-color: rgba(255, 255, 255, 0.8);
    @include phone {
        width: 90%;
        margin-top: 0;
        font-size: 1rem;
        line-height: normal;
        padding: 1rem;
        margin-top: 2rem;
    }
    ;
    @include phone-landscape {
        margin-top: 0;
    }
    ;
    @include tablet{
      width:90%;
    }
}

;

.nowy {

    position: relative;
    height: 12rem;
    @include phone {
        height: 7rem;
    }
    h1,
    h2,
    h3 {
        font-family: $demi;
        font-weight: normal;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    h1 {

        transform: translateY(-50%);
        text-align: center;
        font-size: 12rem;
        font-family: $bold;
        @include phone {
            font-size: 6rem;
        }
        ;
        background: -webkit-linear-gradient(transparent, #eee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    ;
    h2 {
        transform: translateY(-80%);
        font-size: 8rem;
        @include phone {
            font-size: 4.5rem;
        }
    }
    ;
    h3 {
        transform: translateY(120%);
        font-family: $text;
        font-size: 1.25rem;
        word-spacing: 1rem;

        @include phone {
            font-size: 0.75rem;
            word-spacing: 0.5rem;
        }
        ;
    }
}

;
//end of index.html


.oferta-main{
  background-color: $super;

};

.site-title{
  font-size: 2.5rem;
  margin: 2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;


}

div[class*="olt"]{
  // min-height: 260px;
border: 0.75rem solid $super;
  background-color: white;



  &:hover h3{

    // color: $logo;
    // // transition: 0.5s;
    // transform:translateX(0.25rem);
  };





a{

text-decoration: none;
color: inherit;
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
width: 100%;
height: 100%;}

  img{


    width: 100%;
    height: 15rem;
    @include desktop{
      max-height: 10rem;
    }
    padding: 0.5rem;
    object-fit: contain;
    };
  h2{

    width:  100%;
    padding: 2rem;
    @include phone{
      padding: 1rem;
    }

  }
  h3{

    padding: 0.5rem;
    width: 100%;
    // transition: 0.5s;

  };

  h6{
    // display: none;

    color: $dark;
    font-weight: normal;
    padding: 0.5rem;
    width: 100%;
    span{
      display:none;
    }
  };

  p:nth-of-type(1){
  padding: 2rem;
  @include phone{
    padding: 1rem;
  }
  color: $dark;

  }

}

.olt-1{
  width: 25%;



};

.olt-2{

  width:50%;
  a{  align-items: center!important;

    @include desktop{
      img{
        width: 50%!important;
      };
  }
      @include large{
        img{width: 50%!important;
        }

      }}





};
.olt-3{
  width: 75%;

};

.olt-1, .olt-2, .olt-3{

  @include phone{
    width: 100%;
  };
  @include phone-landscape{ width: 50%;}
  @include tablet { width: 50%;}

  .right-column{
    width: 100%;

    @include large{
      width:50%;
    }
    @include desktop{
      width: 50%;
    }

};

}
.fill{

  @include tablet{
    order: 2;
    width: 100%;
  };
  @include phone-landscape{
    order: 2;
    width: 100%;
  }
};

.no-link{

  @include phone{
    order: -1;
  }
  align-content: flex-start!important;
  &:hover{
    cursor:auto!important;
  }
}

// tile background:

#tile-background{
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0, 0.9);
  width: 100vw;
  min-height: 100vh;



 .fullScreen{
   background: rgba(255,255,255, 0.8);
    padding: 1rem;
   position:absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
   width: 50%;

   @include phone{
     width:90%;
   }
  img{display: block; margin: 0 auto;
    max-height: 15rem;
    padding:0.5rem;

    float: left;
    @include phone{
      max-height: 10rem;
      padding: 0.5rem;


    }
  text-align: center;}
  h6{
    font-size: 1rem;
    padding: 1rem;
    @include phone{
      font-size: 0.875rem;
    }
    text-align: justify;
    font-family: $main;
    font-weight: normal;
  }
  h3{
    padding:1.5rem;


  }
 }

}
.showBackground{

  display:block!important;

}
